body {
  font-family: Helvetica, sans-serif;
}

label[for=distrito] {
  font-weight: bold;
  position: fixed;
  top: 8px;

}
select#distrito {
  display: block;
  position: fixed;
  top: 6px;
  left: 70px;
}

#map-container {
  width: 40%;
  left: 0;
  position: fixed;
  top: 30px;
  left: 10px;
}

#map {
  height: 450px;
}

table#establecimientos {
  width: 60%;
  font-size: 0.8em;
  position: relative;
  left: 41%;
  top: 0px;
}

table#establecimientos tr.establecimiento:hover {
  cursor: pointer;
}

  table#establecimientos tbody tr.active, table#establecimientos tr.establecimiento:hover {
    background-color: #eee;
  }

  table#establecimientos thead {
    text-align: left;
    font-weight: bold;
    background-color: #ddd;
  }

  table#establecimientos tr {
    height: 20px;
  }

tr.matches {
  font-size: 0.5em;
}

tr.matches table {
  width: 90% !important;
  margin: 0 auto;
}

tr.matches tr {
  cursor: default;
}

